@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Goblin+One&family=Kings&family=Metamorphous&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



*{
    
  box-sizing: border-box;
  padding: 20px;
  list-style: none;

}

body{
    background-color: rgb(245, 73, 39);
    color:aqua;
    font-family: "Goblin One",serif;
}        
   


.lista-album {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:500px
  
}

.lista-album > li{
  
  display: flexbox;
  gap:20px;
}

h1{
  
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-size: 20px;
  color:gold
}


.changeBGC{
  background-color: blueviolet;
  color:aqua;
  font-family: "Goblin One",serif;
  border-radius: 8px;
}